<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane>
      <ion-content ng-controller="MyCtrl" class="has-header" padding="true">
          <i class="icon ion-play" data-ng-click="play()"></i>
          <div class="row range">
              <i class="icon ion-arrow-left-a"></i>
              <input type="range" name="pan" data-ng-model="data.pan" min="0" max="2" step=".1">
              <i class="icon ion-arrow-right-a"></i>
          </div>
      </ion-content>
    </ion-pane>
  </body>
</html>
